.aboutDiv {
    background-color: $primary;
    padding: 100px 100px;

    h2 {
        margin-bottom: 50px;
        color: $quaternary;
    }
}

.aboutFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.aboutText {
    a {
        color: $secondary;
    }

    p {
        font-size: 1rem;
    }
}

.aboutImage {
    display: flex;
    align-items: flex-end;
    
    h2 {
        width: 45%;
    }
    img {
        width: 45%;
        border-radius: 100%;
    }
}