html {
    font-size: 125%;
}

body {
    font-family: $secondaryFont;
    font-size: $baseFontSize;
}

h1,
h2,
h3,
h4,
p,
button {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: $primaryFont;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
    color: $tertiary;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

button {
    font-size: 0.875rem;
}