// site fonts:
$primaryFont: 'Poppins',sans-serif;
$secondaryFont: 'Sen',sans-serif;
$tertiaryFont: 'Capriola',sans-serif;

// base Font size:
$baseFontSize: 1rem;

// site colors:
$primary: #fff;
$secondary: #405082;
$tertiary: #B0B0B0;
$quaternary: #192B64;
$quinary:#444444;