// site fonts:
$primaryFont: 'Poppins',sans-serif;
$secondaryFont: 'Sen',sans-serif;

// base Font size:
$baseFontSize: 1rem;

// site colors:
$primary: #fff;
$secondary: #405082;
$tertiary: #E6E7EB;
$quaternary: #192B64;
$quinary:#444444;